In [1]:
import pandas as pd
import numpy as np
import requests
import os

In [2]:
tabulador = pd.read_excel("tabulador_pe2019.xls", header = 9)

In [3]:
tabulador["TIPO"].unique()

array([nan, 'A'], dtype=object)

In [4]:
tabulador.describe()

,NIVEL,SUELDO BASE,CUOTAS SEGURIDAD SOCIAL,PREVISIÓN SOCIAL,AYUDA X SERVICIOS,APOYO FAMILIAR,GRATIFICACIÓN QUINCENAL,SUELDO MENSUAL BRUTO,IMPTO MENSUAL,ISSEG,ISSSTE,SUELDO MENSUAL NETO
count,79.000000,79.000000,79.000000,7.900000e+01,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,8.670886,14427.528244,2551.057005,1.913100e+03,4224.316456,13095.416510,13255.957722,49467.375935,11086.965356,2178.762464,372.294541,35829.353574
std,5.658489,12639.319936,1887.367119,4.576531e-13,5917.564742,12561.423626,16283.009818,48932.415025,14333.022606,1632.291459,257.338508,32902.782725
min,1.000000,3080.400000,600.678000,1.913100e+03,450.000000,1572.330000,0.000000,7616.508000,263.883632,508.266000,92.412000,6751.946368
25%,4.000000,4564.185105,890.016096,1.913100e+03,450.000000,3599.725827,936.540000,12353.567028,1173.958791,753.090542,136.925553,10289.592141
50%,8.000000,9458.572628,1844.421662,1.913100e+03,1012.000000,8611.753511,6545.820000,28148.204516,4414.420662,1560.664484,283.757179,22078.225282
75%,13.000000,22680.796123,4422.755244,1.913100e+03,4906.000000,16798.836156,19519.330000,70240.817524,15454.848684,3742.331360,680.423884,50363.213596
max,22.000000,59804.327930,5843.070000,1.913100e+03,25897.000000,64294.837780,75373.990000,233126.325711,69584.321342,5082.660000,760.410000,157698.934369

In [13]:
file = "salarios_minimos.cvs"
if not os.path.isfile(file):
    url = "https://idconline.mx/laboral/salarios-minimos/salarios-minimos-1986-2007"
    html = requests.get(url).content
    df_list = pd.read_html(html, header = 1)
    df = df_list[-1]
    df.to_csv("salarios_minimos.cvs")
else:
    df = pd.read_csv(file)
    #df = pd.read_csv(file, usecols = (4, 5, 6))
df = df[1:]

,Fecha de publicación el DOF,Vigente a partir de:,ZLFN1,Resto del país,"""A""","""B""","""C"""
0,23 de diciembre de 2019,1o. enero 2020,$185.56,$123.22,NaN,NaN,NaN
1,26 de diciembre de 2018,1o. enero 2019,$176.72,$102.68,NaN,NaN,NaN
2,21 de diciembre de 2017,1o. enero 2018,NaN,NaN,$88.36,NaN,NaN
3,24 de noviembre de 2017,1o. diciembre 2017,NaN,NaN,88.36,NaN,NaN
4,19 de diciembre de 2016,1o. enero 2017,NaN,NaN,80.04,NaN,NaN
5,18 de diciembre de 2015,1o. enero 2016,NaN,NaN,73.04,NaN,NaN
6,30 de septiembre de 2015,1o. octubre de 2015,NaN,NaN,70.10,NaN,NaN
7,30 de marzo de 2015,1o. abril 2015,NaN,NaN,70.10,68.28,NaN
8,29 de diciembre de 2014,1o. enero 2015,NaN,NaN,70.10,66.45,NaN
9,26 de diciembre de 2013,1o. enero 2014,NaN,NaN,67.29,63.77,NaN
10,21 de diciembre de 2012,1o. enero 2013,NaN,NaN,64.76,61.38,NaN
11,26 de noviembre de 2012,27 de noviembre 2012,NaN,NaN,62.33,59.08,N/A 2
12,19 de diciembre de 2011,1o. enero 2012,NaN,NaN,62.33,60.57,59.08
13,23 de diciembre de 2010,1o. enero 2011,NaN,NaN,59.82,58.13,56.70
14,23 de diciembre de 2009,1o. enero 2010,NaN,NaN,57.46,55.84,54.47
15,23 de diciembre de 2008,1o. enero 2009,NaN,NaN,54.80,53.26,51.95
16,27 de diciembre de 2007,1o. enero 2008,NaN,NaN,52.59,50.96,49.50
17,29 de diciembre de 2006,1o. enero 2007,NaN,NaN,50.57,49.00,47.60
18,26 de diciembre de 2005,1o. enero 2006,NaN,NaN,48.67,47.16,45.81
19,22 de diciembre de 2004,1° enero 2005,NaN,NaN,46.80,45.35,44.05
20,23 de diciembre de 2003,1º. enero 2004,NaN,NaN,45.24,43.73,42.11
21,26 de diciembre de 2002,1º. enero 2003,NaN,NaN,43.65,41.85,40.30
22,29 de diciembre de 2001,1º. enero 2002,NaN,NaN,42.15,40.10,38.30
23,27 de diciembre de 2000,1º. enero 2001,NaN,NaN,40.35,37.95,35.85
24,31 de diciembre de 1999,1º. enero 2000,NaN,NaN,37.90,35.10,32.70
25,2 de diciembre de 1998,1o. enero 1999,NaN,NaN,34.45,31.90,29.70
26,23 de diciembre de 1997,1o. enero 1998,NaN,NaN,30.20,28.00,26.00
27,2 de diciembre de 1996,1o. enero 1997,NaN,NaN,26.45,24.50,22.50
28,2 de diciembre de 1996,3 de diciembre 1996,NaN,NaN,26.45,24.50,22.50
29,28 de marzo de 1996,1o. abril 1996,NaN,NaN,22.60,20.95,19.05
30,2 de diciembre de 1995,1o. enero 1996,NaN,NaN,20.15,18.70,17.00
31,2 de diciembre 1995,4 de diciembre 1995,NaN,NaN,20.15,18.70,17.00
32,31 de marzo 1995,1o. abril 1995,NaN,NaN,18.30,17.00,15.44
33,21 de diciembre 1994,1o. enero 1995,NaN,NaN,16.34,15.18,13.79
34,13 de diciembre 1993,1o. enero 1994,NaN,NaN,15.27,14.19,12.89
35,7 de diciembre 1992,1o. enero 1993,NaN,NaN,N$ 14.27,N$ 13.26,N$ 12.05
36,4 de diciembre 1991,1o. enero 1992,NaN,NaN,13330.00,12320.00,11115.00
37,11 de noviembre 1991,11 de noviembre 1991,NaN,NaN,13330.00,12320.00,11115.00
38,24 de diciembre 1990,1o. enero 1991,NaN,NaN,11900.00,11000.00,9920.00
39,15 de noviembre 1990,16 de noviembre 1990,NaN,NaN,11900.00,11000.00,9920.00
40,4 de diciembre 1989,1o. enero 1990,NaN,NaN,10080.00,9325.00,8405.00
41,4 de diciembre 1989,4 de diciembre 1989,NaN,NaN,10080.00,9325.00,8405.00
42,26 de junio de 1989,1o. julio 1989,NaN,NaN,9160.00,8475.00,7640.00
43,14 de diciembre 1988,1o. enero 1989,NaN,NaN,8640.00,7995.00,7205.00
44,29 de febrero 1988,1o. marzo 1988,NaN,NaN,8000.00,7405.00,6670.00

In [7]:
df.describe()

       Unnamed: 0
count   45.000000
mean    22.000000
std     13.133926
min      0.000000
25%     11.000000
50%     22.000000
75%     33.000000
max     44.000000

In [9]:
df.keys

<bound method NDFrame.keys of    Fecha de publicación el DOF  Vigente a partir de:    ZLFN1 Resto del país  \
0      23 de diciembre de 2019        1o. enero 2020  $185.56        $123.22
1      26 de diciembre de 2018        1o. enero 2019  $176.72        $102.68
2      21 de diciembre de 2017        1o. enero 2018      NaN            NaN
3      24 de noviembre de 2017    1o. diciembre 2017      NaN            NaN
4      19 de diciembre de 2016        1o. enero 2017      NaN            NaN
5      18 de diciembre de 2015        1o. enero 2016      NaN            NaN
6     30 de septiembre de 2015   1o. octubre de 2015      NaN            NaN
7          30 de marzo de 2015        1o. abril 2015      NaN            NaN
8      29 de diciembre de 2014        1o. enero 2015      NaN            NaN
9      26 de diciembre de 2013        1o. enero 2014      NaN            NaN
10     21 de diciembre de 2012        1o. enero 2013      NaN            NaN
11     26 de noviembre de 2012  27 de noviembre 2012      NaN            NaN
12     19 de diciembre de 2011        1o. enero 2012      NaN            NaN
13     23 de diciembre de 2010        1o. enero 2011      NaN            NaN
14     23 de diciembre de 2009        1o. enero 2010      NaN            NaN
15     23 de diciembre de 2008        1o. enero 2009      NaN            NaN
16     27 de diciembre de 2007        1o. enero 2008      NaN            NaN
17     29 de diciembre de 2006        1o. enero 2007      NaN            NaN
18     26 de diciembre de 2005        1o. enero 2006      NaN            NaN
19     22 de diciembre de 2004         1° enero 2005      NaN            NaN
20     23 de diciembre de 2003        1º. enero 2004      NaN            NaN
21     26 de diciembre de 2002        1º. enero 2003      NaN            NaN
22     29 de diciembre de 2001        1º. enero 2002      NaN            NaN
23     27 de diciembre de 2000        1º. enero 2001      NaN            NaN
24     31 de diciembre de 1999        1º. enero 2000      NaN            NaN
25      2 de diciembre de 1998        1o. enero 1999      NaN            NaN
26     23 de diciembre de 1997        1o. enero 1998      NaN            NaN
27      2 de diciembre de 1996        1o. enero 1997      NaN            NaN
28      2 de diciembre de 1996   3 de diciembre 1996      NaN            NaN
29         28 de marzo de 1996        1o. abril 1996      NaN            NaN
30      2 de diciembre de 1995        1o. enero 1996      NaN            NaN
31         2 de diciembre 1995   4 de diciembre 1995      NaN            NaN
32            31 de marzo 1995        1o. abril 1995      NaN            NaN
33        21 de diciembre 1994        1o. enero 1995      NaN            NaN
34        13 de diciembre 1993        1o. enero 1994      NaN            NaN
35         7 de diciembre 1992        1o. enero 1993      NaN            NaN
36         4 de diciembre 1991        1o. enero 1992      NaN            NaN
37        11 de noviembre 1991  11 de noviembre 1991      NaN            NaN
38        24 de diciembre 1990        1o. enero 1991      NaN            NaN
39        15 de noviembre 1990  16 de noviembre 1990      NaN            NaN
40         4 de diciembre 1989        1o. enero 1990      NaN            NaN
41         4 de diciembre 1989   4 de diciembre 1989      NaN            NaN
42         26 de junio de 1989        1o. julio 1989      NaN            NaN
43        14 de diciembre 1988        1o. enero 1989      NaN            NaN
44          29 de febrero 1988        1o. marzo 1988      NaN            NaN

         "A"       "B"       "C"
0        NaN       NaN       NaN
1        NaN       NaN       NaN
2     $88.36       NaN       NaN
3      88.36       NaN       NaN
4      80.04       NaN       NaN
5      73.04       NaN       NaN
6      70.10       NaN       NaN
7      70.10     68.28       NaN
8      70.10     66.45       NaN
9      67.29     63.77       NaN
10     64.76     61.38       NaN
11     62.33     59.08     N/A 2
12     62.33     60.57     59.08
13     59.82     58.13     56.70
14     57.46     55.84     54.47
15     54.80     53.26     51.95
16     52.59     50.96     49.50
17     50.57     49.00     47.60
18     48.67     47.16     45.81
19     46.80     45.35     44.05
20     45.24     43.73     42.11
21     43.65     41.85     40.30
22     42.15     40.10     38.30
23     40.35     37.95     35.85
24     37.90     35.10     32.70
25     34.45     31.90     29.70
26     30.20     28.00     26.00
27     26.45     24.50     22.50
28     26.45     24.50     22.50
29     22.60     20.95     19.05
30     20.15     18.70     17.00
31     20.15     18.70     17.00
32     18.30     17.00     15.44
33     16.34     15.18     13.79
34     15.27     14.19     12.89
35  N$ 14.27  N$ 13.26  N$ 12.05
36  13330.00  12320.00  11115.00
37  13330.00  12320.00  11115.00
38  11900.00  11000.00   9920.00
39  11900.00  11000.00   9920.00
40  10080.00   9325.00   8405.00
41  10080.00   9325.00   8405.00
42   9160.00   8475.00   7640.00
43   8640.00   7995.00   7205.00
44   8000.00   7405.00   6670.00  >